/.idea
.sass-cache
/plugins
/target
/target-eclipse
/.README.md.html
/var
/web-app/css/externalDownloads
/web-app/css/keyframes.css
/web-app/css/site.css
/web-app/js/externalDownloads
web-app/img/*-sa*.png
