@include skrollrKeyframes("#box", box) {
  #{$packTop + $sectionSize * -.65 + 'p'} {
    top: 100%;
  }

  #{$packTop + $sectionSize * -.5 + 'p'} {
    top: 0%;
  }

  #{$orderCompleteTop + $sectionSize * 1 + 'p'} {
    top: 0%;
  }
}

@include skrollrKeyframes("#box .flaps", boxFlaps) {
  #{$packTop + $sectionSize * -.65 + 'p'} {
    opacity: 1;
  }

  #{$packTop + $sectionSize * .1 + 'p'} {
    opacity: 1;
  }

  #{$packTop + $sectionSize * .25 + 'p'} {
    opacity: 0;
  }
}

@include skrollrKeyframes("#box .top", boxTop) {
  #{$packTop + $sectionSize * .1 + 'p'} {
   opacity: 0;
 }

  #{$packTop + $sectionSize * .25 + 'p'} {
    opacity: 1;
  }

  #{$orderCompleteTop + $sectionSize * 1 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes("#box .tape", boxTape) {
  #{$packTop + $sectionSize * .1 + 'p'} {
    opacity: 0;
  }

  #{$packTop + $sectionSize * .25 + 'p'} {
    opacity: 1;
  }

#{$orderCompleteTop + $sectionSize * 1 + 'p'} {
    opacity: 1;
  }
}
