@include skrollrKeyframes('#checkout-window', checkoutWindow) {
  #{$payTop + $transitioningSectionSize * -.5 + 'p'} {
    top: 100%;
  }
  #{$payTop + $transitioningSectionSize * 0 + 'p'} {
    top: 0%;
  }
  #{$payTop + $transitioningSectionSize * .1 + 'p'} {
    top: 0%;
  }
  #{$payTop + $transitioningSectionSize * .4 + 'p'} {
    top: -100%;
  }
}