@include skrollrKeyframes('#complete-package', completePackage) {
  #{$orderCompleteTop + $transitioningSectionSize * -.65 + 'p'} {
    transform: translateX(0px) translateY(0px) scale(1);
  }
  #{$orderCompleteTop + $transitioningSectionSize * -.40 + 'p'} {
    transform: translateX(800px) translateY(-200px) scale(.25);
  }
  #{$orderCompleteTop + $transitioningSectionSize * -.15 + 'p'} {
    transform: translateX(1700px) translateY(-400px) scale(.20);
  }
}