@include skrollrKeyframes('#gift-message', giftMessage) {
  #{$personalizeTop + $sectionSize * -.25 + 'p'} {
    top: 100%;
    margin-top: 0px;
  }
  #{$personalizeTop + $sectionSize * 0 + 'p'} {
    top: 0%;
    margin-top: -76px;
    width: 900px;
    transform:  skew(0deg, 0deg) scaleX(1) scaleY(1) rotate(0deg) translateX(0px) translateY(0px) translateZ(5000px);
  }
  #{$personalizeTop + $sectionSize * .2 + 'p'} {
    transform:  skew(0deg, 0deg) scaleX(1) scaleY(1) rotate(0deg) translateX(-170px) translateY(0px) translateZ(5000px);
    width: 450px;
  }
  #{$personalizeTop + $sectionSize * .4 + 'p'} {
     transform:  skew(18deg, -.8deg) scaleX(.5) scaleY(.4) rotate(90deg) translateX(-300px) translateY(0px) translateZ(5000px);
  }
  #{$packTop + $sectionSize * .25 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes('#gift-message .cover', giftMessageCover) {
  #{$personalizeTop + $sectionSize * -.25 + 'p'} {
    left: -450px;
  }
  #{$personalizeTop + $sectionSize * 0 + 'p'} {
    left: -450px;
  }
  #{$personalizeTop + $sectionSize * .2 + 'p'} {
    left: 0px;
  }
  #{$packTop + $sectionSize * .25 + 'p'} {
    left: 0px;
  }
}

@include skrollrKeyframes('#gift-message .info', giftMessageInfo) {
  #{$personalizeTop + $sectionSize * -.25 + 'p'} {
    left: 0px;
  }
  #{$personalizeTop + $sectionSize * 0 + 'p'} {
    left: 0px;
  }
  #{$personalizeTop + $sectionSize * .2 + 'p'} {
    left: -450px;
  }
  #{$personalizeTop + $sectionSize * .4 + 'p'} {
    left: -450px;
  }
}

@include skrollrKeyframes('#gift-message .message', giftMessageMessage) {
  #{$personalizeTop + $sectionSize * -.25 + 'p'} {
    left: 450px;
  }
  #{$personalizeTop + $sectionSize * 0 + 'p'} {
    left: 450px;
  }
  #{$personalizeTop + $sectionSize * .2 + 'p'} {
    left: 0px;
  }
  #{$personalizeTop + $sectionSize * .4 + 'p'} {
    left: 0px;
  }
}