@include skrollrKeyframes('#shield1', shield1) {
  -100p {
    top: 170px;
  }

      0p {
         top: 170px
       }

5p {
   top: 130px
 }

  20p {
    top: 130px
  }
}

@include skrollrKeyframes('#shield2', shield2) {
  -100p {
    top: 270px;
  }

0p {
   top: 270px
 }

5p {
   top: 230px
 }

  20p {
    top: 230px
  }
}