@include skrollrKeyframes('.styro.front', styroFront) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
    top: 352px;
    left: 62px;
    opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes('.styro.back', styroBack) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
     top: -352px;
     left: -62px;
     opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
     top: 0px;
     left: 0px;
     opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
     opacity: 1;
  }
}

@include skrollrKeyframes('.styro.left', styroLeft) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
    left: -200px;
    opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
    left: 0px;
    opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes('.styro.right', styroRight) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
    left: 200px;
    opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
    left: 0px;
    opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes('.styro.top', styroTop) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
    top: -200px;
    opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
    top: 0px;
    opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
    opacity: 1;
  }
}

@include skrollrKeyframes('.styro.base', styroBase) {
  #{$pickTop + $transitioningSectionSize * .54 + 'p'} {
    top: 200px;
    opacity: 0;
  }
  #{$pickTop + $transitioningSectionSize * .65 + 'p'} {
    top: 0px;
    opacity: 1;
  }
  #{$payTop + $transitioningSectionSize * .25 + 'p'} {
    opacity: 1;
  }
}