@include skrollrKeyframes("#truck", truck) {
  #{$orderCompleteTop + $sectionSize * -.85 + 'p'} {
    right: -204px;
  }

  #{$orderCompleteTop + $sectionSize * -.7 + 'p'} {
    right: 0px;
  }

  #{$orderCompleteTop + $sectionSize * -.1 + 'p'} {
    right: 0px;
  }

  #{$orderCompleteTop + $sectionSize * 0 + 'p'} {
    right: -204px;
  }
}