#section-container > section {
  width: $width;
  height: 100%;
  left: 50%;
  margin-left: $width/2;
  position: fixed;

  @include transform(translateZ(0));
  @include css3(backface-visibility, hidden);
  @include css3(perspective, 1000);
}