#section-container {
  left: 50%;
  margin: -600px;
  width: 1200px;
}

#section-container > section {
  //margin-top: $headerFooterHeight;
  width: $width;
  height: 100%;
  left: 50%;
  margin-left: -$width/2;
  position: fixed;

  //@include threeDimensional();

  > * {
    //@include threeDimensional();
  }
}