
@for $i from 1 through $numberOfSections {

  $thisSectionTop: nth($sections, $i);

  @include skrollrKeyframes(".section#{$i}", section#{$i}Animation) {
      #{-$sectionSize + 'p'} {
          top: #{$thisSectionTop + $sectionSize + '%'};
      }

      #{$bottom + 'p'} {
          top: -#{$bottom - $thisSectionTop + '%'};
      }
  }


  @include skrollrKeyframes(".section#{$i} > *", section#{$i}ChildrenAnimation) {

    #{$thisSectionTop - 50 + 'p'} {
      opacity: 0;
    }

    #{$thisSectionTop + 'p'} {
      opacity: 1;
    }

    #{$thisSectionTop + 50 + 'p'} {
      opacity: 0;
    }
  }
}