#pick {
  #product-price {
    position: absolute;
    top: 110px;
    left: 12%;

    .price {
      font-size: $giant;
      font-weight: 100;

      .free-shipping-label {
        font-weight: 300;
        font-size: $small;
        color: $mediumGray;
      }
    }

    .product {
    }

  }

  #flavor-carousel {
    margin: 0px auto;
    width: 80%;
    text-align: center;

    .well {
      height: 150px;
      overflow: hidden;
      padding: 0;
      margin: 0;

      .scroll {
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
      }

      .flavor {
        float: left;
        text-align: center;
        margin: 0 12px;
        cursor: pointer;
        width: 300px;
        height: 100%;
        z-index: 1;
        position: relative;
        @include transition(all .5s linear);

        > img {
          margin-top: -12px;
        }

        .flavor-label {
          margin-top: -8px;
        }

        .gf-icon {
          position: absolute;
          left: 81px;
          top: 40px;
        }
      }

      .active {
        line-height: 0px;
        @include transform(scale(1.4));
      }
    }

    .arrow-right {
      float: right;
      margin: 64px 16px;
    }

    .arrow-left {
      float: left;
      margin: 64px 16px;
    }

    $carrotSize: 11px;
    .carrot-container {
      display: inline-block;
      position: relative;
      height: $carrotSize;
      width: $carrotSize * 2;
      top: -(4 + $carrotSize);
    }

    .carrot-base {
      width: 0;
      height: 0;
      border-left: $carrotSize solid transparent;
      border-right: $carrotSize solid transparent;
      position: absolute;
    }

    .outer-carrot {
      @extend .carrot-base;

      top: -1px;
      border-bottom: $carrotSize solid $lightGray;
    }

    .inner-carrot {
      @extend .carrot-base;

      border-bottom: $carrotSize solid $white;
    }
  }

  #selected-cheesecake-btns {
    clear: both;
    margin: -6px 0 6px 0;
  }
}

$moreInfoWidth: 640px;
#more-info {
  width: $moreInfoWidth;
  @include transition(all .5s);

  &.show-nutrition-label {
    width: $moreInfoWidth + 212;

    .nutrition-label {
      display: inline-block !important;
    }
  }

  .modal-body {
    overflow: hidden;
    white-space: nowrap;

    > * {
      display: inline-block;
      width: 200px;
      white-space: normal;
      margin-left: 12px;
      vertical-align: middle;

      &.hide {
        display: none;
      }
    }

    .text {
      width: 360px;
    }
  }
}