# Without doing this, Tomcat will fail if you've run "yum update".  
# This is because properties get passed in with the quotes.
# http://stackoverflow.com/questions/17479212/unable-to-connect-to-mysql-amazon-rds-from-java-app-on-elastic-beanstalk-java-s
# https://forums.aws.amazon.com/thread.jspa?threadID=115043
commands:
  patch_tomcat:
    command: sed -i.bak s#\"/usr/sbin/tomcat7\"#\"/usr/sbin/tomcat7-elasticbeanstalk\"#g /etc/init.d/tomcat7