#nav-container [data-section="pick"] .section-label {
  -skrollr-animation-name: navPickText; }

@-skrollr-keyframes navPickText {
  -100p {
    cursor: default; }

  0p {
    cursor: pointer;
    color: rgb(0, 136, 204); }

  100p {
    color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="pick"] .dot {
  -skrollr-animation-name: navPickDot; }

@-skrollr-keyframes navPickDot {
  -100p {
    cursor: default; }

  0p {
    cursor: pointer;
    background-color: rgb(0, 136, 204); }

  100p {
    background-color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="personalize"] .section-label {
  -skrollr-animation-name: navPersonalizeText; }

@-skrollr-keyframes navPersonalizeText {
  -100p {
    cursor: default;
    color: rgb(230, 230, 230); }

  0p {
    cursor: pointer; }

  100p {
    color: rgb(0, 136, 204); }

  200p {
    color: rgb(0, 136, 204); }

  300p {
    color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="personalize"] .dot {
  -skrollr-animation-name: navPersonalizeDot; }

@-skrollr-keyframes navPersonalizeDot {
  -100p {
    cursor: default;
    background-color: rgb(230, 230, 230); }

  0p {
    cursor: pointer; }

  100p {
    background-color: rgb(0, 136, 204); }

  200p {
    background-color: rgb(0, 136, 204); }

  300p {
    background-color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="pack"] .section-label {
  -skrollr-animation-name: navPackText; }

@-skrollr-keyframes navPackText {
  -100p {
    cursor: default;
    color: rgb(230, 230, 230); }

  200p {
    cursor: pointer; }

  300p {
    color: rgb(0, 136, 204); }

  400p {
    color: rgb(0, 136, 204); }

  500p {
    color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="pack"] .dot {
  -skrollr-animation-name: navPackDot; }

@-skrollr-keyframes navPackDot {
  -100p {
    cursor: default;
    background-color: rgb(230, 230, 230); }

  200p {
    cursor: pointer; }

  300p {
    background-color: rgb(0, 136, 204); }

  400p {
    background-color: rgb(0, 136, 204); }

  500p {
    background-color: rgb(200, 200, 200); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="pay"] .section-label {
  -skrollr-animation-name: navPayText; }

@-skrollr-keyframes navPayText {
  -100p {
    cursor: default;
    color: rgb(230, 230, 230); }

  400p {
    cursor: pointer; }

  500p {
    color: rgb(0, 136, 204); }

  1000p {
    opacity: 1; } }

#nav-container [data-section="pay"] .dot {
  -skrollr-animation-name: navPayDot; }

@-skrollr-keyframes navPayDot {
  -100p {
    cursor: default;
    background-color: rgb(230, 230, 230); }

  400p {
    cursor: pointer; }

  500p {
    background-color: rgb(0, 136, 204); }

  1000p {
    opacity: 1; } }

header {
  -skrollr-animation-name: header; }

@-skrollr-keyframes header {
  -100p {
    top: 0%; }

  0p {
    top: 0%; }

  100p {
    top: -100%; } }

.section1 {
  -skrollr-animation-name: section1Animation; }

@-skrollr-keyframes section1Animation {
  -200p {
    top: 200%; }

  1000p {
    top: -1000%; } }

.section1 > * {
  -skrollr-animation-name: section1ChildrenAnimation; }

@-skrollr-keyframes section1ChildrenAnimation {
  -50p {
    opacity: 0; }

  0p {
    opacity: 1; }

  50p {
    opacity: 0; } }

.section2 {
  -skrollr-animation-name: section2Animation; }

@-skrollr-keyframes section2Animation {
  -200p {
    top: 400%; }

  1000p {
    top: -800%; } }

.section2 > * {
  -skrollr-animation-name: section2ChildrenAnimation; }

@-skrollr-keyframes section2ChildrenAnimation {
  150p {
    opacity: 0; }

  200p {
    opacity: 1; }

  250p {
    opacity: 0; } }

.section3 {
  -skrollr-animation-name: section3Animation; }

@-skrollr-keyframes section3Animation {
  -200p {
    top: 600%; }

  1000p {
    top: -600%; } }

.section3 > * {
  -skrollr-animation-name: section3ChildrenAnimation; }

@-skrollr-keyframes section3ChildrenAnimation {
  350p {
    opacity: 0; }

  400p {
    opacity: 1; }

  450p {
    opacity: 0; } }

.section4 {
  -skrollr-animation-name: section4Animation; }

@-skrollr-keyframes section4Animation {
  -200p {
    top: 800%; }

  1000p {
    top: -400%; } }

.section4 > * {
  -skrollr-animation-name: section4ChildrenAnimation; }

@-skrollr-keyframes section4ChildrenAnimation {
  550p {
    opacity: 0; }

  600p {
    opacity: 1; }

  650p {
    opacity: 0; } }

.section5 {
  -skrollr-animation-name: section5Animation; }

@-skrollr-keyframes section5Animation {
  -200p {
    top: 1000%; }

  1000p {
    top: -200%; } }

.section5 > * {
  -skrollr-animation-name: section5ChildrenAnimation; }

@-skrollr-keyframes section5ChildrenAnimation {
  750p {
    opacity: 0; }

  800p {
    opacity: 1; }

  850p {
    opacity: 0; } }

#truck {
  -skrollr-animation-name: truck; }

@-skrollr-keyframes truck {
  630p {
    right: -204px; }

  660p {
    right: 0px; }

  780p {
    right: 0px; }

  800p {
    right: -204px; } }

#box {
  -skrollr-animation-name: box; }

@-skrollr-keyframes box {
  270p {
    top: 100%; }

  300p {
    top: 0%; }

  1000p {
    top: 0%; } }

#box .flaps {
  -skrollr-animation-name: boxFlaps; }

@-skrollr-keyframes boxFlaps {
  270p {
    opacity: 1; }

  420p {
    opacity: 1; }

  450p {
    opacity: 0; } }

#box .top {
  -skrollr-animation-name: boxTop; }

@-skrollr-keyframes boxTop {
  420p {
    opacity: 0; }

  450p {
    opacity: 1; }

  1000p {
    opacity: 1; } }

#box .tape {
  -skrollr-animation-name: boxTape; }

@-skrollr-keyframes boxTape {
  420p {
    opacity: 0; }

  450p {
    opacity: 1; }

  1000p {
    opacity: 1; } }

#tray1 {
  -skrollr-animation-name: tray1; }

@-skrollr-keyframes tray1 {
  -100p {
    top: 80px; }

  0p {
    top: 80px; }

  5p {
    top: 40px; }

  30p {
    top: 40px;
    left: -30px; }

  60p {
    top: -200px;
    left: 0px; }

  90p {
    top: -150px; }

  200p {
    top: -150px; } }

#tray2 {
  -skrollr-animation-name: tray2; }

@-skrollr-keyframes tray2 {
  -100p {
    top: 80px; }

  0p {
    top: 80px; }

  5p {
    top: 40px; }

  50p {
    left: 570px; }

  90p {
    left: 0px;
    top: 0px; }

  200p {
    top: 0px; } }

#shield1 {
  -skrollr-animation-name: shield1; }

@-skrollr-keyframes shield1 {
  -100p {
    top: 170px; }

  0p {
    top: 170px; }

  5p {
    top: 130px; }

  20p {
    top: 130px; } }

#shield2 {
  -skrollr-animation-name: shield2; }

@-skrollr-keyframes shield2 {
  -100p {
    top: 270px; }

  0p {
    top: 270px; }

  5p {
    top: 230px; }

  20p {
    top: 230px; } }

.styro.front {
  -skrollr-animation-name: styroFront; }

@-skrollr-keyframes styroFront {
  110p {
    top: 352px;
    left: 62px;
    opacity: 0; }

  130p {
    top: 0px;
    left: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

.styro.back {
  -skrollr-animation-name: styroBack; }

@-skrollr-keyframes styroBack {
  110p {
    top: -352px;
    left: -62px;
    opacity: 0; }

  130p {
    top: 0px;
    left: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

.styro.left {
  -skrollr-animation-name: styroLeft; }

@-skrollr-keyframes styroLeft {
  110p {
    left: -200px;
    opacity: 0; }

  130p {
    left: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

.styro.right {
  -skrollr-animation-name: styroRight; }

@-skrollr-keyframes styroRight {
  110p {
    left: 200px;
    opacity: 0; }

  130p {
    left: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

.styro.top {
  -skrollr-animation-name: styroTop; }

@-skrollr-keyframes styroTop {
  110p {
    top: -200px;
    opacity: 0; }

  130p {
    top: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

.styro.base {
  -skrollr-animation-name: styroBase; }

@-skrollr-keyframes styroBase {
  110p {
    top: 200px;
    opacity: 0; }

  130p {
    top: 0px;
    opacity: 1; }

  450p {
    opacity: 1; } }

#gift-message {
  -skrollr-animation-name: giftMessage; }

@-skrollr-keyframes giftMessage {
  150p {
    top: 100%;
    margin-top: 0px; }

  200p {
    top: 0%;
    margin-top: -76px;
    width: 900px;
    transform: skew(0deg, 0deg) scaleX(1) scaleY(1) rotate(0deg) translateX(0px) translateY(0px) translateZ(5000px); }

  240p {
    transform: skew(0deg, 0deg) scaleX(1) scaleY(1) rotate(0deg) translateX(-170px) translateY(0px) translateZ(5000px);
    width: 450px; }

  280p {
    transform: skew(18deg, -0.8deg) scaleX(0.5) scaleY(0.4) rotate(90deg) translateX(-300px) translateY(0px) translateZ(5000px); }

  450p {
    opacity: 1; } }

#gift-message .cover {
  -skrollr-animation-name: giftMessageCover; }

@-skrollr-keyframes giftMessageCover {
  150p {
    left: -450px; }

  200p {
    left: -450px; }

  240p {
    left: 0px; }

  450p {
    left: 0px; } }

#gift-message .info {
  -skrollr-animation-name: giftMessageInfo; }

@-skrollr-keyframes giftMessageInfo {
  150p {
    left: 0px; }

  200p {
    left: 0px; }

  240p {
    left: -450px; }

  280p {
    left: -450px; } }

#gift-message .message {
  -skrollr-animation-name: giftMessageMessage; }

@-skrollr-keyframes giftMessageMessage {
  150p {
    left: 450px; }

  200p {
    left: 450px; }

  240p {
    left: 0px; }

  280p {
    left: 0px; } }

#label {
  -skrollr-animation-name: label; }

@-skrollr-keyframes label {
  350p {
    top: 100%;
    margin-top: 0px; }

  400p {
    top: 0%;
    margin-top: -76px; }

  450p {
    transform: skew(0deg, 0deg) scaleX(1) scaleY(1) translateX(0px) translateY(0px) translateZ(5700px); }

  500p {
    transform: skew(18deg, -0.8deg) scaleX(0.5) scaleY(0.35) translateX(-460px) translateY(-200px) translateZ(5700px); }

  1000p {
    top: 0%; } }

#checkout-window {
  -skrollr-animation-name: checkoutWindow; }

@-skrollr-keyframes checkoutWindow {
  500p {
    top: 100%; }

  600p {
    top: 0%; }

  620p {
    top: 0%; }

  680p {
    top: -100%; } }

#complete-package {
  -skrollr-animation-name: completePackage; }

@-skrollr-keyframes completePackage {
  670p {
    transform: translateX(0px) translateY(0px) scale(1); }

  770p {
    transform: translateX(1700px) translateY(-400px) scale(0.25); } }

body {
  height: 900%; }
