#section1 {
     -skrollr-animation-name: section1Animation;
 }

@-skrollr-keyframes section1Animation {
    -800 {
        top: 800px;
    }

    800 {
        top: -800px;
    }
}

#section2 {
    -skrollr-animation-name: section2Animation;
}

@-skrollr-keyframes section2Animation {
    0 {
        top: 800px;
    }

    1600 {
        top: -800px;
    }
}

#section3 {
    -skrollr-animation-name: section3Animation;
}

@-skrollr-keyframes section3Animation {
    800 {
        top: 800px;
    }

    2400 {
        top: -800px;
    }
}

#section4 {
    -skrollr-animation-name: section4Animation;
}

@-skrollr-keyframes section4Animation {
    1600 {
        top: 800px;
    }

    3200 {
        top: -800px;
    }
}