$white: #FFF;
$black: #000;
$transparentOffWhite: rgba(240,240,240,.5);
$offWhite: rgba(240,240,240, 1);
$transparentLightGray: rgba(240,240,240,.85);
$lightGray: rgba(230,230,230, 1);
$transparentMediumGray: darken($transparentLightGray, 20%);
$mediumGray: darken($lightGray, 20%);
$lightBlue: rgb(0, 136, 204);
$shadowColor: rgba(0, 0, 0, .2);
$chuckanutRed: #8b0025;
$red: red;