$white: #FFF;
$transparentLightGray: rgba(240,240,240,.85);
$lightGray: rgba(240,240,240, 1);
$transparentMediumGray: darken($transparentLightGray, 40%);
$mediumGray: darken($lightGray, 40%);
$lightBlue: rgb(0, 136, 204)