$headerFooterHeight: 50px;

.header-footer-base {
  background-color: $transparentLightGray;
  height: $headerFooterHeight;
  position: fixed;

  .content {
    margin: auto;
    line-height: $headerFooterHeight;
  }
}

header {
  @extend .header-footer-base;

  border-bottom: 1px solid $transparentMediumGray;
  z-index: 9000;
  top: 0;
  width: 100%;

  .free-shipping {
    color: $mediumGray;
    text-align: center;
  }

  .questions {
    text-align: right;

    .popover {
      line-height: initial;
      max-width: 500px;
      @include transform(translateX(0px) translateX(0px));

      .question {
        font-weight: 700;
        margin-top: 8px;
      }

      .answer {
        margin-left: 12px;
        padding: 6px 0;
      }
    }
  }
}

footer {
  @extend .header-footer-base;

  bottom: 0;
  left: 50%;
  margin-left: -$headerFooterHeight/2;
  margin-bottom: 0;
  width: $headerFooterHeight;
  text-align: center;
  padding: 6px;
  @include css3(border-top-left-radius, 8px);
  @include css3(border-top-right-radius, 8px);
  border: 1px solid $transparentMediumGray;
  border-bottom: none;

  @include transition(margin .5s ease-out);

  &.out {
    margin-bottom: -$headerFooterHeight;
  }


}
