$expodeDistance: 200px;
$styroTopBaseline: $boxTopBaseline - 213;
#styro-container {
  position: absolute;
  top: $styroTopBaseline;
  left: -56px;
  width: 100%;

  &.collapsed > * {
    opacity: 1 !important;
    left: 0 !important;
    top: 0 !important;
  }
  .styro {
    position: absolute;
    opacity: 0;
    @include transition(opacity 1s, left 2s ease-in-out, top 2s ease-in-out);

    &.base {
      z-index: 100;
      top: $styroTopBaseline + $expodeDistance;
    }

    &.back {
      z-index: 200;
      top: $styroTopBaseline -.95 * $expodeDistance;
      left: -.31 * $expodeDistance;
    }

    &.right {
      z-index: 300;
      left: $expodeDistance;
    }

    &.left {
      z-index: 3100;
      left: -$expodeDistance;
    }

    &.front {
      z-index: 3200;
      top: $styroTopBaseline + .95 * $expodeDistance;
      left: .31 * $expodeDistance;
    }

    &.top {
      z-index: 3300;
      top: $styroTopBaseline - $expodeDistance;
    }

    &.styro-label {
      color: $mediumGray;
      margin: 440px 0 0 280px;
      width: 300px;
      font-size: $huge;
    }
  }
}

.gift-message-page-base {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  vertical-align: top;
  padding: 12px;
  @include transition(all 2s ease);
}

#gift-message {
  @include box-shadow(0 5px 10px $shadowColor);

  border: 1px solid $mediumGray;
  position: absolute;
  top: 100%;
  left: 270px;
  width: 900px;
  height: 700px;
  z-index: 5000;
  background-color: $white;
  overflow: hidden;
  pointer-events: auto;
  @include transition(all 2s ease);

  &.slide-up {
    top: $boxTopBaseline - 245;
  }

  &.fold {
    left: 100px;
    width: 450px !important;

    .info {
      left: -100% !important;
      width: 100%;
      opacity: 0;
    }

    .message {
      left: 0% !important;
      width: 100%;
    }

    .cover {
      left: -.5% !important;
      width: 100%;
    }

    &.shrink {
      @include transition(all 1s ease);
      top: $boxTopBaseline - 400;
      left: 60px;
      @include transform(rotateX(35deg) rotateY(51deg) rotateZ(-29deg) scaleX(1) scaleY(.5) rotate(90deg));
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $chuckanutRed;
  }

  .info {
    @extend .gift-message-page-base;
    border-right: 1px solid $lightGray;
    position: absolute;
    left: 0;

    .logo-container {
      text-align: center;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
    }

    .flavor-info {
      width: 50%;
      display: inline-block;
      padding-right: 12px;

      h5 {
        margin-bottom: 0;
      }
    }
  }

  .message {
    @extend .gift-message-page-base;
    position: absolute;
    left: 50%;

    h1 {
      text-align: left;
      margin-bottom: 20px;
    }

    textarea {
      width: 100%;
      resize: none;
    }

    .right-aligned {
      float: right;
      margin-left: 12px;
    }

    .max-characters-label {
      color: $mediumGray;
    }

    .ingredients {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 350px;
    }

    .refrigerate-label {
      position: absolute;
      bottom: 12px;
      width: 30px;
    }
  }

  .cover {
    @extend .gift-message-page-base;
    position: absolute;
    left: -50%;
    background-color: $white;
    border-right: 1px solid $mediumGray;

    > * {
      @include transform(rotate(270deg));
      position: absolute;
    }

    .handmade-cheesecakes {
      font-size: $giant;
      font-weight: 100;
      top: 80px;
      left: 250px;
      line-height: initial;
      text-align: center;
    }

    .cheesecake-plated {
      top: 330px;
      left: 110px;
    }

    .logo-cover {
      top: 280px;
      left: -70px;
    }
  }

}