#pick {
  #product-price {
    position: absolute;
    top: 110px;
    left: 12%;

    .price {
      font-size: $giant;
      font-weight: 100;

      .free-shipping-label {
        font-weight: 300;
        font-size: $small;
        color: $mediumGray;
      }
    }

    .product {
    }

  }

  #flavor-carousel {
    margin: 0px auto;
    width: 80%;
    text-align: center;

    .well {
      height: 150px;
      overflow: hidden;
      padding: 0;
      margin: 0;

      .scroll {
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
      }

      .flavor {
        float: left;
        text-align: center;
        margin: 0 12px;
        cursor: pointer;
        width: 300px;
        height: 100%;
        z-index: 1;
        position: relative;
        @include transition(all .5s linear);

        > img {
          margin-top: -12px;
        }

        .flavor-label {
          margin-top: -8px;
        }

        .gf-icon {
          position: absolute;
          left: 81px;
          top: 40px;
        }
      }

      .active {
        line-height: 0px;
        @include transform(scale(1.4));
      }
    }

    .arrow-right {
      float: right;
      margin: 64px 16px;
    }

    .arrow-left {
      float: left;
      margin: 64px 16px;
    }

    $carrotSize: 11px;
    .carrot-container {
      display: inline-block;
      position: relative;
      height: $carrotSize;
      width: $carrotSize * 2;
      top: -(4 + $carrotSize);
    }

    .carrot-base {
      width: 0;
      height: 0;
      border-left: $carrotSize solid transparent;
      border-right: $carrotSize solid transparent;
      position: absolute;
    }

    .outer-carrot {
      @extend .carrot-base;

      top: -1px;
      border-bottom: $carrotSize solid $lightGray;
    }

    .inner-carrot {
      @extend .carrot-base;

      border-bottom: $carrotSize solid $white;
    }
  }

  #selected-cheesecake-btns {
    clear: both;
    margin: -6px 0 6px 0;
  }
}

$boxTopBaseline: 375px;
#overflow-killer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  min-height: $minHeight;
  pointer-events: none;
}

#box-container-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

#box-container {
  width: $width;
  height: 100%;
  margin: 0 auto;
  position: relative;
  left: -$width/2;
  top: 0;

  > * {
    pointer-events: none;
  }

  .tray {
    position: absolute;
    top: $boxTopBaseline;
    width: 100%;
    @include transition(all 1s ease);

    .tray-part {
      position: absolute;
      top: 0;
      left: 0;
      width: 550px;
    }
    .back {
      z-index: 1000;
    }

    .mid {
      z-index: 2000;
    }

    .front {
      z-index: 3000;
    }
  }

  #tray1 {
    left: 0;

    &.slide-up {
      top: $boxTopBaseline - 200;
    }

    &.slide-down {
      top: $boxTopBaseline - 150;
    }
  }

  #tray2 {
    left: 600px;

    &.slide-left {
      left: 0;
    }
  }

  .shield {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: $white;
  }

  #shield1 {
    z-index: 1999;
    top: $boxTopBaseline + 130px;
  }

  #shield2 {
    z-index: 2999;
    top: $boxTopBaseline + 230px;
  }

  .cheesecake {
    position: absolute;
    width: 135px;
    cursor: pointer;
  }

  a.cheesecake-event-catcher {
    opacity: 0;
    z-index: 5000;
    pointer-events: auto;
  }

  $backRowTop: 134px;
  $frontRowTop: 248px;
  .cheesecake1,
  .cheesecake5 {
    top: $backRowTop;
    left: 84px;
    z-index: 1100;
  }

  .cheesecake2,
  .cheesecake6 {
    top: $backRowTop;
    left: 300px;
    z-index: 1200;
  }

  .cheesecake3,
  .cheesecake7 {
    top: $frontRowTop;
    left: 120px;
    z-index: 2300;
  }

  .cheesecake4,
  .cheesecake8 {
    top: $frontRowTop;
    left: 334px;
    z-index: 2400;
  }

  .popover {
    width: 200px;

    .flavor-label {
      text-align: center;
      margin-bottom: 10px;
    }

    .btn-remove {
      margin-left: 4px;
    }
  }
}

$moreInfoWidth: 640px;
#more-info {
  width: $moreInfoWidth;
  @include transition(all .5s);

  &.show-nutrition-label {
    width: $moreInfoWidth + 212;

    .nutrition-label {
      display: inline-block !important;
    }
  }

  .modal-body {
    overflow: hidden;
    white-space: nowrap;

    > * {
      display: inline-block;
      width: 200px;
      white-space: normal;
      margin-left: 12px;
      vertical-align: middle;

      &.hide {
        display: none;
      }
    }

    .text {
      width: 360px;
    }
  }
}