$dotSize: 8px;
#nav-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100px;
  margin: auto 8px;
  font-size: $tiny;
  color: $mediumGray;

  > div {
    text-align: right;

    &:hover {
      @include transform(scale(1.3));
      @include transition(all .2s);
      @include css3(transform-origin, right);
    }
  }

  .dot {
    margin: 0;
    margin-left: 8px;
    display: inline-block;
    background-color: $transparentMediumGray;
    @include square($dotSize);
    @include border-radius($dotSize/2);
  }

  .disabled {
    color: $lightGray;

    .dot {
      background-color: $lightGray;
    }
  }
}