$sectionSize: 200;
$pickTop: 0;
$personalizeTop: $pickTop + $sectionSize;
$packTop: $personalizeTop + $sectionSize;
$payTop: $packTop + $sectionSize;
$orderCompleteTop: $payTop + $sectionSize;
$sections: $pickTop, $personalizeTop, $packTop, $payTop, $orderCompleteTop;
$numberOfSections: length($sections);
$bottom: ($numberOfSections + 1) * $sectionSize;

@import "mixins";
@import "colors";
@import "sideNavKeyframes";
@import "headerFooterKeyframes";
@import "sections/keyframes";
@import "components/keyframes/truck";
@import "components/keyframes/box";
@import "components/keyframes/trays";
@import "components/keyframes/styro";
@import "components/keyframes/giftMessage";
@import "components/keyframes/label";
@import "components/keyframes/checkoutWindow";
@import "components/keyframes/completePackage";


body {
  height: #{$numberOfSections * $sectionSize - 100 + '%'};
}
