@mixin border-radius($params) {
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $params;

/* Firefox 1-3.6 */
  -moz-border-radius: $params;

/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $params;
}

@mixin box-shadow($params) {
/* Firefox 1-3.6 */
  -moz-box-shadow: $params;

/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-box-shadow: $params;

/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  box-shadow: $params;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

$width: 1170px;

@import "bootstrap";
@import "bootstrap-datepicker";
@import "colors";
@import "fontSizes";
@import "headerFooter";
@import "sideNav";
@import "pick";
@import "personalize";
@import "pack";

html {
  overflow: hidden;
}

body {
  background-color: $white;
  font-weight: 300;
}

input {
  height: 30px !important;
}

* {
  opacity: 1;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

h1 {
  font-size: $massive;
  text-align: center;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: $huge;
  text-align: center;
}

h1, h3, h5 {
  font-weight: 300;
}

h2, h4, h6 {
  font-weight: 100;
}

pre {
  font-family: inherit;
}

.transparent {
  opacity: 0;
}

.popover {
  z-index: 9000;
}

.btn-container {
  text-align: center;
}

.arrow-base {
  width: 12px;
  height: 24px;
  display: inline-block;
  cursor: pointer;

  &.disabled {
    opacity: .25;
  }
}

.arrow-right {
  @extend .arrow-base;

  background-image: url('../img/arrow-right.png');
}

.arrow-left {
  @extend .arrow-base;

  background-image: url('../img/arrow-left.png');
}