$width: 1200px;

@import "mixins";
@import "colors";
@import "fontSizes";
@import "headerFooter";
@import "sideNav";
@import "loading";
@import "sections/container";
@import "sections/pick";
@import "sections/personalize";
@import "sections/pack";
@import "sections/pay";
@import "components/container";
@import "components/trays";
@import "components/styro";
@import "components/giftMessage";
@import "components/box";
@import "components/label";
@import "components/checkoutWindow";
@import "components/truck";
@import "components/completePackage";
@import "sections/orderComplete";


html {
  height: 100%;
}

body {
  //margin-top: $headerFooterHeight;
  background-color: $white;
  font-weight: 300;
  padding: 1px;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial;
}

input {
  height: 30px !important;
}

input[type="checkbox"] {
  height: 12px !important;

}

* {
  opacity: 1;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea, input {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

h1 {
  font-size: $massive;
  text-align: center;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: $huge;
  text-align: center;
}

h1, h3, h5 {
  font-weight: 300;
}

h2, h4, h6 {
  font-weight: 100;
}

pre {
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.transparent {
  opacity: 0 !important;
}

.modal {
  @include threeDimensional(9800);
}

.modal-backdrop {
  @include threeDimensional(9700);
}

.btn-container {
  text-align: center;
}

.arrow-base {
  width: 12px;
  height: 24px;
  display: inline-block;
  cursor: pointer;

  &.disabled {
    opacity: .25;
  }
}

.arrow-right {
  @extend .arrow-base;

  background-image: url('../img/arrow-right.png');
}

.arrow-left {
  @extend .arrow-base;

  background-image: url('../img/arrow-left.png');
}

.arrow-bottom {
  @extend .arrow-base;
  width: 24px;
  height: 12px;

  background-image: url('../img/arrow-bottom.png');
}

.skrollable-after, .skrollable-before {
  display: none;
}

.btn {
  pointer-events: auto;
}
