@mixin border-radius($params) {
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $params;

/* Firefox 1-3.6 */
  -moz-border-radius: $params;

/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $params;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

//@import "compass";
@import "colors";
@import "fontSizes";
@import "headerFooter";
@import "sideNav";


$width: 1170px;

html {
  overflow: hidden;
}

body {
  background-color: $white;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: $massive;
  text-align: center;
  margin: 20px 0 10px 0;
}

h2 {
  font-weight: 100;
  font-size: $huge;
  text-align: center;
}

.popover {
  z-index: 9000;
}

#flavor-carousel {
  margin: 0px auto;
  width: 80%;
  text-align: center;

  .well {
    height: 150px;
    overflow: hidden;
    padding: 0;
    margin: 0;

    .scroll {
      padding: 0;
      margin: 0;
      list-style: none;
      height: 100%;
    }

    .flavor {
      float: left;
      text-align: center;
      margin: 0 12px;
      cursor: pointer;
      width: 300px;
      height: 100%;
      //transition: all .5s ease;

      > img {
        margin-top: -12px;
      }

      .flavor-label {
        margin-top: -8px;
      }
    }

    .active {
      line-height: 0px;
      -webkit-transform: scale(1.4);
    }
  }

  .arrow-right {
    float: right;
    margin: 64px 16px;
  }

  .arrow-left {
    float: left;
    margin: 64px 16px;
  }

  $carrotSize: 11px;
  .carrot-container {
    display: inline-block;
    position: relative;
    height: $carrotSize;
    width: $carrotSize * 2;
    top: -(4 + $carrotSize);
  }

  .carrot-base {
    width: 0;
    height: 0;
    border-left: $carrotSize solid transparent;
    border-right: $carrotSize solid transparent;
    position: absolute;
  }

  .outer-carrot {
    @extend .carrot-base;

    top: -1px;
    border-bottom: $carrotSize solid $lightGray;
  }

  .inner-carrot {
    @extend .carrot-base;

    border-bottom: $carrotSize solid $white;
  }
}

#selected-cheesecake-btns {
  clear: both;
  margin: -6px 0 6px 0;
}

.btn-container {
  text-align: center;
}

.arrow-base {
  width: 12px;
  height: 24px;
  display: inline-block;
  cursor: pointer;

  &.disabled {
    opacity: .25;
  }
}

.arrow-right {
  @extend .arrow-base;

  background-image: url('../img/arrow-right.png');
}

.arrow-left {
  @extend .arrow-base;

  background-image: url('../img/arrow-left.png');
}

#box-container-wrapper {
  position: absolute;
  top: 375px;
  left: 50%;
}

#box-container {
  width: $width;
  margin: 0 auto;
  position: relative;
  left: -$width/2;
  top: 0;

  .box {
    position: absolute;

    .box-part {
      position: absolute;
      top: 0;
      left: 0;
      width: 550px;
    }
    .back {
      z-index: 1000;
    }

    .mid {
      z-index: 2000;
    }

    .front {
      z-index: 3000;
    }
  }

  #box1 {
    left: 0;
  }

  #box2 {
    left: 600px;
  }

  .shield {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: $white;
  }

  #shield1 {
    z-index: 1999;
    top: 130px;
  }

  #shield2 {
    z-index: 2999;
    top: 230px;
  }

  .cheesecake {
    position: absolute;
    width: 135px;
    cursor: pointer;
  }

  a.cheesecake-event-catcher {
    opacity: 0;
    z-index: 5000;
  }

  $backRowTop: 144px;
  $frontRowTop: 258px;
  .cheesecake1,
  .cheesecake5 {
    top: $backRowTop;
    left: 86px;
    z-index: 1100;
  }

  .cheesecake2,
  .cheesecake6 {
    top: $backRowTop;
    left: 300px;
    z-index: 1200;
  }

  .cheesecake3,
  .cheesecake7 {
    top: $frontRowTop;
    left: 122px;
    z-index: 2300;
  }

  .cheesecake4,
  .cheesecake8 {
    top: $frontRowTop;
    left: 336px;
    z-index: 2400;
  }

  .popover {
    width: 200px;

    .btn-remove {
      margin-left: 4px;
    }
  }


  $expodeDistance: 200px;
  #styro-container {
    position: absolute;
    top: -213px;
    left: -56px;

    &.collapsed > * {
      opacity: 1 !important;
      left: 0 !important;
      top: 0 !important;
    }
    .styro {
      position: absolute;
      opacity: 0;
      transition: opacity .5s, left 1s ease 1s, top 1s ease 1s;

      &.base {
        z-index: 100;
        top: $expodeDistance;
      }

      &.back {
        z-index: 200;
        top: -.95 * $expodeDistance;
        left: -.31 * $expodeDistance;
      }

      &.right {
        z-index: 300;
        left: $expodeDistance;
      }

      &.left {
        z-index: 3100;
        left: -$expodeDistance;
      }

      &.front {
        z-index: 3200;
        top: .95 * $expodeDistance;
        left: .31 * $expodeDistance;
      }

      &.top {
        z-index: 3300;
        top: -$expodeDistance;
      }

      &.styro-label {
        color: $mediumGray;
        margin: 440px 0 0 280px;
        width: 300px;
        font-size: $huge;
      }
    }
  }
}