$boxLeft: -56px;
#box {
  position: absolute;
  left: $boxLeft;
  width: 100%;

  .box-part {
    position: absolute;

    &.back {
      @include threeDimensional(500);
    }

    &.front {
      @include threeDimensional(7000);
    }

    &.flaps {
      @include threeDimensional(7500);
    }

    &.top {
      @include threeDimensional(7600);
    }

    &.tape {
      @include threeDimensional(7700);
    }
  }
}