$boxTopBaseline: 150px;
#component-container-part1, #component-container-part2 {
  height: 100%;
  pointer-events: none;
  top: $boxTopBaseline;
}

#component-container-part1 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;

  z-index: 20;
}

#component-container-part2 {
  position: absolute;
  left: -$width/2;
  width: $width;
}

#component-container-part2 > * {
  position: absolute;
}