$labelTop: $boxTopBaseline - 200;
$labelLeft: 500px;
$labelTransform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) translateX(0px) translateY(0px);
$labelTransformShrink: rotateX(35deg) rotateY(51deg) rotateZ(-29deg) scaleX(1) scaleY(0.5) translateX(-450px) translateY(-115px);
#label {
  @include box-shadow(0 5px 10px $shadowColor);
  @include border-radius(12px);

  border: 1px solid $mediumGray;
  padding: 12px;
  font-family: "Arial Narrow", Arial;
  font-weight: 600;
  position: absolute;
  top: $labelTop;
  left: $labelLeft;
  width: 400px;
  z-index: 8700;
  background-color: $white;
  pointer-events: auto;
  @include transform($labelTransform);

  .return-address {
    line-height: 16px;
  }

  .ship-to-wrapper {
    height: 120px;
    margin: 20px 0;

    > * {
      float: left;
    }

    .ship-to-label {
      width: 40px;
      font-size: $large;
      vertical-align: top;
    }

    .ship-to {
      margin: 0;
      text-transform: uppercase;
    }

    .name,
    .address,
    .address2,
    .company {
      width: 250px;
    }

    .city {
      width: 124px;
    }

    .state {
      width: 50px;
    }

    .zip {
      width: 70px;
    }
  }

  .date-picker-wrapper {
    position: absolute;
    top: 12px;
    left: 50%;

    .date-picker-label {
      font-size: $large;
    }

    #datepicker {
      width: 180px;
    }
  }

  .label-label {
    // Extended
    font-size: $small;
    font-weight: 300;
    color: $mediumGray;
  }

  .shipping-constraints {
    @extend .label-label;
    clear: both;
  }

  .next-day-wrapper {
    border-top: 1px solid $black;
    border-bottom: 3px solid $black;

    > * {
      display: inline-block;
      padding: 12px;
    }

    .two-d-barcode-wrapper {
      border-right: 1px solid $black;
    }

    .next-day-label-wrapper {
      .next-day-label {
        font-size: $large;
      }

      .freshness-label {
        @extend .label-label;
      }
    }


  }
}

.datepicker {
  z-index: 9500;

  .disabled:hover {
    background: none !important;
  }
}