.shield {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: $white;
}

#shield1 {
  @include threeDimensional(1999);
  top: $boxTopBaseline + 130px;
}

#shield2 {
  @include threeDimensional(2999);
  top: $boxTopBaseline + 230px;
}
