@import "styro/*.png";
@include all-styro-sprites;

#styro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .styro {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    &.base {
      @include threeDimensional(100);
      @include sprite-dimensions($styro-sprites, base);
    }

    &.back {
      @include threeDimensional(200);
      @include sprite-dimensions($styro-sprites, back);
    }

    &.right {
      @include threeDimensional(300);
      @include sprite-dimensions($styro-sprites, right);
    }

    &.left {
      @include threeDimensional(3100);
      @include sprite-dimensions($styro-sprites, left);
    }

    &.front {
      @include threeDimensional(3200);
      @include sprite-dimensions($styro-sprites, front);
    }

    &.top {
      @include threeDimensional(3300);
      @include sprite-dimensions($styro-sprites, top);
    }

    &.styro-label {
      color: $mediumGray;
      margin: 440px 0 0 280px;
      width: 300px;
      font-size: $huge;
    }
  }
}