#styro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .styro {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    &.base {
      @include threeDimensional(100);
    }

    &.back {
      @include threeDimensional(200);
    }

    &.right {
      @include threeDimensional(300);
    }

    &.left {
      @include threeDimensional(3100);
    }

    &.front {
      @include threeDimensional(3200);
    }

    &.top {
      @include threeDimensional(3300);
    }

    &.styro-label {
      color: $mediumGray;
      margin: 440px 0 0 280px;
      width: 300px;
      font-size: $huge;
    }
  }
}