.tray {
  width: 100%;

  .tray-part {
    position: absolute;
    top: 0;
    left: 0;
    width: 656px;
  }

  .cheesecake {
    position: absolute;
    width: 135px;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0;
  }

  $backRowTop: 220px;
  $frontRowTop: 338px;
  .cheesecake1,
  .cheesecake5 {
    top: $backRowTop;
    left: 134px;
  }

  .cheesecake2,
  .cheesecake6 {
    top: $backRowTop;
    left: 350px;
  }

  .cheesecake3,
  .cheesecake7 {
    top: $frontRowTop;
    left: 170px;
  }

  .cheesecake4,
  .cheesecake8 {
    top: $frontRowTop;
    left: 384px;
  }

  .popover {
    width: 200px;

    .flavor-label {
      text-align: center;
      margin-bottom: 10px;
    }

    .btn-remove {
      margin-left: 4px;
    }
  }
}

#tray1 {
  @include threeDimensional(2000);
}

#tray2 {
  @include threeDimensional(1000);
}